@import url('https://fonts.cdnfonts.com/css/open-sauce-one');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sauce One", sans-serif;
}

body {
    background-color: #F8F8F8;
    max-width: 100%;
    min-width: 100%;
}


/*index*/


/*header*/

.banner img {
    display: block;
    width: 100%;
    height: 100%;
}

/*menu1*/

a {
    text-decoration: none;
}

header{
    padding-inline: 16px;
    z-index: 1;
    top: 40px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 10px;
}

.nav{
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;

    display: flex;
    align-items: center;
    gap: 32px;
}

.logo{
    width: 6rem;
    z-index: 1;
    top: 35px;
    position: absolute;
    left: 10px;
}

.menu1{
    display: flex;
    gap: 32px;
    list-style: none;
}

.menu1 a{
    font-size: 20px;
    color: #fff;
    padding-block: 16px;
}

.hamburger{
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
}

.hamburger::after,
.hamburger::before{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}
/*fim menu1*/


/*menu2*/


/*fim menu2*/

.tituloBioEdu {
    position: absolute;
    color: white;
    left: 4%;
    top: 38%;
    width: 50%;
}

.tituloBioEdu h1 {
    font-family: "Russo One", sans-serif;
    font-size: 100px;
}

.tituloBioEdu p {
    font-size: 28px;
}

.btnMais {
    margin-top: 3rem;
    padding: 0.8rem 2rem 0.8rem 2rem;
    background-color: #5271FF;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


/*fim header*/


/*main - conteudo1*/

#conteudo1 h2 {
    font-size: 50px;
    margin-top: 3rem;
    text-align: center;
}

.citacao {
    text-align: center;
    font-size: 25px;
    margin-top: 3rem;
}


/*fim - main citação*/


/*conteudo 2*/

#conteudo2,
.conteudo1_1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
    min-width: 100%
}

.ladoImagem {
    width: 50%;
}

.ladoTexto {
    width: 50%;
    padding-top: 8rem;
    padding-left: 10rem;
}

.engrenagens {
    padding-top: 5rem;
    padding-left: 2rem;
}

.parag1 {
    text-align: justify;
    width: 60%;
    line-height: 2.5rem;
}


/* fim conteudo 1*/


/*conteudo 2*/

.parag2 {
    text-align: justify;
    margin-right: 5rem;
    line-height: 2.5rem;
    margin-top: 5rem;
}

.ladoImagem2 {
    margin-top: 5rem;
    margin-left: 5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.ladoImagem2 .lock {
    width: 200px;
    margin-left: 5rem;
}

.ladoImagem2 .alvo {
    width: 250px;
    margin-top: 5rem;
    margin-left: 15rem;
}

.ladoTexto2 {
    float: right;
    width: 40%;
    margin-right: 5rem;
    margin-top: 1rem;
}


/*fim conteudo 2*/


/*conteudo 3*/

#conteudo3 {
    display: inline-block;
    margin-top: 6rem;
}

#conteudo3>h3 {
    text-align: center;
    font-size: 40px;
}

.parag3 {
    text-align: justify;
    margin-right: 5rem;
    line-height: 2.5rem;
    margin-top: 5rem;
}

.ladoImagem3 {
    margin-top: 5rem;
    margin-right: 5rem;
    width: 40%;
    display: flex;
    flex-direction: column;
}

.ladoImagem3 .tempo {
    width: 160px;
    margin-left: 10rem;
}

.ladoImagem3 .grafico {
    width: 300px;
    margin-left: 20rem;
    margin-top: 1rem;
}

.ladoTexto3 {
    float: left;
    width: 40%;
    margin-left: 10rem;
    margin-top: 1rem;
}


/*fim conteudo 3*/


/*conteudo 4*/

#conteudo4 {
    display: inline-block;
    margin-top: 2rem;
}

.parceiros {
    display: block;
    margin-top: 2rem;
    padding: 5rem;
}

.parceiros h3 {
    font-size: 40px;
    text-align: center;
}

.logoParc {
    margin-top: 5rem;
    display: flex;
}

.parc {
    margin-left: 6.5rem;
}

.parc img {
    width: 70%;
}

.parc p {
    margin-left: 5.5rem;
    margin-top: 1.5rem;
    font-size: 20px;
}


/*fim conteudo 4*/


/*fim - index*/

/*rodape*/

footer {
    display: flex;
    align-items: center;
    background: rgb(1, 0, 13);
    background: linear-gradient(90deg, rgba(1, 0, 13, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(55, 0, 255, 1) 100%);
}

.contato {
    display: flex;
    flex-direction: column;
    width: 33%;
    color: white;
    margin-left: 6rem;
}

.contato h4 {
    margin-left: 5rem;
    margin-top: 2rem;
}

.email,
.telefone,
.facebook,
.instagram,
.whatsapp {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.endereco {
    display: flex;
    flex-direction: column;
    width: 33%;
    color: white;
    text-align: center;
    margin-right: 3rem;
}

.endereco h4 {
    margin-bottom: 2.5rem;
}

.endereco p {
    margin-bottom: 1rem;
}

.politica {
    display: flex;
    flex-direction: column;
    width: 33%;
    color: white;
    text-align: center;
}

.politica h4 {
    margin-bottom: 3rem;
}

.politica p {
    margin-bottom: 1rem;
}
/*fim rodape*/

@media screen and (max-width: 1200px) {

    .btnMais {
        display: none;
    }

    .engrenagens {
        margin-left: -10rem;
    }

    .ladoImagem2 .lock {
        margin-top: 2rem;
        margin-left: 15rem;
    }

    .ladoImagem2 .alvo {
        margin-top: 8.5rem;
        margin-left: 15rem;
    }

    .ladoImagem3 .grafico {
        margin-top: 2rem;
        margin-left: 3rem;
    }

    .ladoImagem3 .tempo {
        margin-left: -1rem;
    }

    .parc p {
        margin-left: 3.5rem;
    }
}

@media screen and (max-width: 950px) {

    .tituloBioEdu {
        top: 50%;
    }

    .tituloBioEdu h1 {
        font-size: 75px;
    }

    #conteudo1 h2 {
        font-size: 43px;
    }

    .parag1 {
        width: 100%;
        line-height: 2rem;
    }

    .ladoTexto{
        padding-left: 15rem;
        width: 100%;
        margin-left: 2rem;
        margin-top: -2rem;
    }

    .ladoTexto2{
        padding-left: 15rem;
        width: 100%;
        margin-left: -7rem;
    }

    .ladoTexto3{
        padding-left: 18rem;
        width: 100%;
        margin-left: -7rem;
    }

    .engrenagens {
        display: none;
    }

    .ladoImagem2 .lock {
        display: none;
    }

    .ladoImagem2 .alvo {
        display: none;
    }

    .ladoImagem3 .tempo {
        display: none;
    }

    .ladoImagem3 .grafico {
        display: none;
    }

    .parc {
        margin-left: 5.5rem;
    }

    .parc p {
        margin-left: 2rem;
    }
}

@media screen and (max-width: 768px) {

    .tituloBioEdu{
        margin-top: -2rem;
    }

    header{
        padding-inline: 10px;
    }


    #conteudo1, #conteudo2, #conteudo3, #conteudo4{
        display: block;
    }


    .ladoTexto{
        padding-left: 15rem;
        width: 100%;
        margin-left: -7rem;
        margin-top: -2rem;
    }

    .ladoTexto2{
        padding-left: 15rem;
        width: 100%;
        margin-left: -7rem;
    }

    .ladoTexto3{
        padding-left: 18rem;
        width: 100%;
        margin-left: -7rem;
    }

    .ladoImagem .engrenagens {
        display: none;
    }

    .ladoImagem2 .lock {
        display: none;
    }

    .ladoImagem2 .alvo {
        display: none;
    }

    .ladoImagem3 .tempo {
        display: none;
    }

    .ladoImagem3 .grafico {
        display: none;
    }

    .contato {
        margin-left: 2rem;
    }

    .contato img {
        width: 8%;
    }

    .parc {
        margin-left: 5.5rem;
    }

    .parc img {
        margin-left: -2rem;
        width: 100%;
    }

    .parc p {
        margin-left: -0.5rem;
    }
}

@media screen and (max-width: 500px) {

    .tituloBioEdu{
        margin-top: -2rem;
    }

    header{
        padding-inline: 10px;
    }

    .nav{
        right: 0;
    }
    .hamburger{
        display: block;
        z-index: 1;
    }

    .menu1{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgb(51, 54, 223);
        clip-path: circle(100px at 90% -18%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;

        pointer-events: none;
    }

    .menu1 a{
        font-size: 24px;
        opacity: 0;
    }

    .menu1 li:nth-child(1) a{
        transition: 0.5s 0.2s;
    }

    .menu1 li:nth-child(2) a{
        transition: 0.5s 0.4s;
    }

    .menu1 li:nth-child(3) a{
        transition: 0.5s 0.6s;
    }

    /*estilos ativos*/

    .nav.active .menu1{
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .menu1 a{
        opacity: 1;
    }

    .nav.active .hamburger{
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before{
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }

    .tituloBioEdu {
        top: 18%;
    }

    .tituloBioEdu h1 {
        font-size: 36px;
        margin-top: 3rem;
    }

    .tituloBioEdu p {
        font-size: 16px;
    }

    #conteudo1 h2 {
        margin-left: 1rem;
        font-size: 30px;
    }

    .citacao {
        margin: 2rem 1rem 2rem 1rem;
        font-size: 18px;
    }

    #conteudo2 {
        flex-direction: column;
        width: 100%;
        margin-left: 2rem;
        display: none;
    }

    .engrenagens {
        display: none;
    }

    #conteudo2{
        display: block;
        width: 100%;
        margin: 0;
        margin-top: 1rem;
        display: none;
    }

    .ladoTexto{
        width: 100%;
        padding: 10px;
    }

    #conteudo3{
        display: flex;
        margin-top: 43rem;
        align-items: center;
        flex-direction: column;
    }

    .ladoTexto2{
        float: none;
        width: 100%;
        padding-left: 5rem;
        margin-right: 0;
        margin-left: 0;
        margin-top: -2rem;
    }

    #conteudo4{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .ladoTexto3{
        float: none;
        margin-left: 0;
        margin-top: -5rem;
        width: 100%;
        padding-left: 5rem;
    }

    #conteudo3>h3 {
        font-size: 35px;
        margin-top: -40rem;
    }

    .ladoImagem2 .lock {
        display: none;
    }

    .ladoImagem2 .alvo {
        display: none;
    }


    .ladoImagem3 .tempo {
        display: none;
    }

    .ladoImagem3 .grafico {
        display: none;
    }

    .logoParc {
        margin-top: 1.5rem;
    }

    .parceiros{
        margin-top: -5rem;
    }

    .parc {
        margin-top: 2rem;
        margin-left: 0.1rem;
    }

    .parc img {
        margin-left: 0.5rem;
        width: 100%;
    }

    .parc p {
        margin-left: 1.5rem;
        margin-top: 0.5rem;
        font-size: 15px;
    }

    footer {
        flex-direction: column;
        justify-content: center;
    }

    .contato, .endereco, .politica {
        margin-left: 3rem;
        width: 70%;
    }

    .contato h4{
        margin-left: 4rem;
    }

    .contato img {
        width: 12%;
    }

    .politica h4{
        margin-left: -1rem;
        margin-top: 2rem;
        margin-bottom: -0.5rem;
    }

    .politica p{ 
        margin-left: -1rem;  
        margin-top: 2rem;         
    }
}